a:link   {
  text-decoration: none;
  color: black;
}
a:hover  {
  text-decoration: underline;
  color: purple;
}
a:visited   {
  text-decoration: none;
}
body {
  background-image:url(https://c1.staticflickr.com/1/261/32295742196_9ec676c9da_k.jpg);
  background-repeat: no-repeat;
  background-position: center, center;
  background-attachment: fixed;
  background-size: cover;
}
#otherp {
  clear: both;
  text-align:center;
  border:none;
}
#Header {
  text-align:center;
}
#ExperienceT {
  text-align:left;
  width: 200px; 
}
main {
  margin-left: auto;
  margin-right: auto;
}
header {
  color: black;
  text-align: center;
  border: 2px black dashed;
  margin: 10px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
#den {
  margin: auto;
  border: 2px black dashed;
  padding: 5px;
  width: 350px;
}
#course {
  margin: auto;
  border: 2px black dashed;
  padding: 5px;
  width: 200px;
}
#colts {
  margin: auto;
  border: 2px black dashed;
  padding: 5px;
  width: 375px;
}
.left {
  float: left;
  padding-left: 75px;
}
nav li {
  float:left; 
}
nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}
nav li a:link {
  color:#FFFFFF;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
#navbar {
  margin: 10px;
  padding:0;
  background-color: #333;
  overflow: hidden;
  list-style-type: none;
}
nav li a:hover {
background-color: #111;
text-decoration: none;
color:#003B7B;
}
nav li a:visited {
color:#FFFFFF;
}
#projects {
  padding: 0 20 0 20;
  display: inline;
}
.right {
  float: right;
  padding-right: 75px;
}
section {
  margin: 10px;
  border: 2px black dashed;
}
#splashvid {
  margin: auto;
  width: 665px;
  position: absolute;
  height: 380px;
  top:0; bottom:0; left:0; right:0;
}
#resumepage {
  background-color:#999190;
  background-image: none;
}
#projectspage {
  background-color:#999190;
  background-image: none;
}
#splashdiv {
  margin: auto;
  position: relative;
  height: 400px;
  padding: 50px;
}
#contactinfo {
  list-style-type: none;
  font-size: 50px;
}
#splashsection {
  border: none;
  margin: 10px;
  position: relative;
  height:100%;
}
#downloadresume {
  float:right;
  clear:right;
  margin-right: 50px;
  padding: 20px;
  border: 2px black solid;
  border-radius:50%;
  background-color:#003B7B;
}
#downloadresume a{
  font-weight: bold;
  font-size: 25px;
}
#downloadresume a:hover {
  text-decoration: none;
  color: white;
}
#downloadresume a:visited {
  color: white;
}
#downloadreferences {
  float:right;
  clear:right;
  margin-right: 57px;
  padding: 20px;
  border: 2px black solid;
  border-radius:50%;
  background-color:#003B7B;
}
#downloadreferences a{
  font-weight: bold;
  font-size: 25px;
}
#downloadreferences a:hover {
  text-decoration: none;
  color: white;
}
#downloadreferences a:visited {
  color: white;
}
#splashbio {
  margin:auto;
  text-align:center;
  background-color: rgba(255,255,255,0.6);
  border: 2px black dashed;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
