body {
  background-color:#87CEEB;
}
#Header {
  text-align:center;
}
#ExperienceT {
  text-align:left;
  width: 200px 
}
#ExperienceC {
  float: right
  width: 600px
}
main {
  width: 2048px;
  height: 1152px;
  margin-left: auto;
  margin-right: auto;
}
header {
  color: gray;
  text-align: center;
  padding: 0 20 0 20;
  border: 2px black dashed;
  margin: 10px;
}
nav {
  position: relative;
}
nav li {
  display: inline;
}
section {
  margin: 10px;
  border: 2px black dashed;
}
#photo {
  position: fixed;
  opacity: .4;
  margin-left:auto;
  margin-right:auto;
}
