a:link   {
  text-decoration: none;
  color: black;
}
a:hover  {
  text-decoration: underline;
  color: purple;
}
a:visited   {
  text-decoration: none;
  color: purple;
}
body {
  background-color:#87CEEB;
}
#Header {
  text-align:center;
}
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
#ExperienceT {
  text-align:left;
  width: 200px 
}
main {
  width: 100%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20
  padding-right: 20
}
header {
  color: black;
  text-align: center;
  padding: 0 20 0 20;
  border: 2px black dashed;
  margin: 10px;
}
.left {
  float: left;
  padding-left: 75px;
}
nav {
  position: relative;
}
nav li {
  display: inline;
  border: 1px black solid;
  border-radius: 15%;
  padding: 4px;
  background-color: #028BCC;
}
#projects {
  padding: 0 20 0 20;
  display: inline;
}
.right {
  float: right;
  padding-right: 75px;
}
section {
  background-color: white;
  margin: 10px;
  border: 2px black dashed;
}
#photo {
  position: fixed;
  opacity: .4;
  margin-left:auto;
  margin-right:auto;
  z-index:-1;
}
